@import 'variables';
@import 'mixins';

@mixin button {
  padding: 0.6rem 1rem;
}

@each $color-name,
$color-value in $colors-map {
  .#{$color-name} {
    background-color: $color-value;
    padding: 0.6rem 1rem;
    border: none;
    border-bottom: 5px solid darken($color-value, 20);
    margin: 0.5rem;
    @include text-contrast($color-value);

    &:hover {
      cursor: pointer;
      background-color: darken($color-value, 10);
    }
  }
}