@import "variables";

.button {
  font-size: 18px;
  text-decoration: none;
  color: $color-dark;
  border: $color-dark 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: $color-opacity;
}