@import '../styles/variables';

.task {
  background: $color-light-grey;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  color: $color-dark;

  h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.reminder {
  border-left: 5px solid $color-dark;
}