$color-steelblue: steelblue;
$color-dark: #2c4b64;
$color-light: #f4eded;
$color-light-grey: #c6c5c531;
$color-red: indianred;


$colors-map: (
  'light': $color-steelblue,
  'mid': $color-steelblue,
  'error': $color-red,
  'dark': $color-dark,
);