$color-steelblue: steelblue;
$color-dark: #2c4b64;
$color-light: #f4eded;

$color-powderpink: #d79baf;
$color-blue: #42858e;

$colors-map: (
  'light': $color-steelblue,
  'mid': $color-blue,
  'error': $color-powderpink,
  'dark': $color-dark,
);