$color-powderblue: powderblue;
$color-powderpink: #d79baf;
$color-blue: #42858e;
$color-dark: #295358;

// #191725  dark 
// #1b1f32 grey
// #8b5668  dark pink
// #a08598 light pink
// #c47e89 saturated pink
// #e1907d orange
// # df8780  saturated orange
// #f29d78 light orange
// #f29e7d darker orange
// #eeba4d  yellow
// # e4d7b7 light grey
//  #bed8d8 light blue
// #4ca5cf  dark blue

$colors-map: (
  'light': $color-powderblue,
  'mid': $color-blue,
  'error': $color-powderpink,
  'dark': $color-dark,
);